<% provide(:title, 'Ayuda') %>
<div class="header">
<h1>Ayuda</h1>
<p>Cupcake ipsum dolor sit amet. Gingerbread muffin cookie. Jelly liquorice chocolate bar. Toffee pie sesame snaps lemon drops pudding fruitcake. Powder candy jelly beans cupcake dragée pastry sweet roll tootsie roll. Caramels oat cake cotton candy chocolate cake halvah. Faworki chocolate cake lollipop toffee. Topping caramels cotton candy liquorice chocolate apple pie. Donut halvah carrot cake applicake croissant toffee gummi bears jujubes sweet roll. Macaroon carrot cake tiramisu powder tart sugar plum wypas icing gummi bears. Toffee sweet chupa chups jelly. Sweet cheesecake sugar plum powder gummi bears cupcake. Dragée toffee sugar plum sweet roll toffee jelly beans jujubes donut jelly beans. Brownie liquorice topping liquorice cake pie muffin soufflé sesame snaps.</p>
</div>