<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "1 céntimo", root_path, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Ayuda", help_path %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>